body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
    
  background-color: #ffffff;   
}

.mail-header-logo:hover {
  opacity: 0.8; 
}

.mail-header-logo:focus {
  opacity: 0.3;  
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
}

.site-navigation a:hover {
  
  color: #fb565a;
}

.site-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:active {
  text-decoration-color: #fb565a;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantages-list {
  list-style: none;
}

.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.advantages-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button {
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.button:hover {
  background-color : #e74246;
}

.button:focus {
  background-color: #d7373b;
  opacity: 0.3;
}

.color-green {
  background-color: #00ca74;
}

.color-green:hover {
  background-color : #00bc6c;
}

.color-green:focus {
  background-color: #00aa62;
  opacity: 0.3;
}

.color-yellow {
  background-color: #efc84a;
}

.color-yellow:hover {
  background-color : #eab534;
}

.color-yellow:focus {
  background-color: #e5a722;
  opacity: 0.3;
}

.studio-info b {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}  

.studio-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}  

.studio-list {
  list-style: none;  
}

.info-work {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.work-choice {
  list-style: none;  
}

.work-choice li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136; 
}

.studio-table td {
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
}

.studio-table th {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136; 
}

.partners-list {
  list-style: none;  
}

.partners-list img{
  opacity: 0.2;
}

.partners-list img:hover {
  opacity: 1.0;
}

.partners-list img:focus {
  opacity: 0.1;
}

.footer-contacts h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.footer-contacts p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;   
}

.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666; 
}

.basket-item input {
  border-color: #d7dcde;
}

.basket-item input:hover {
  border-color: #b4b9bb;
}

.basket-item input:focus {
  border-color: #000000;
}

.main-footer b {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.main-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal-basket h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.basket-item label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.sidebar legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.sidebar fieldset {
  border: none;
}

.sidebar ul {
  list-style: none;
}

.filter-option label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-input + label {
  color: #283136;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:focus + label {
  color: #283136;
  opacity: 0.3;
}

.sidebar-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  color: #000000;
}

.sidebar-button:hover {
  background-color : #dfdfdf;
}

.sidebar-button:disabled {
  background-color: #d5d5d5;
  opacity: 0.3;
}

.sorting h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.sorting-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.sorting-selection {
  list-style: none;
}

.sorting-selection  a:hover {
  color: #666666;
}

.sorting-selection  a:focus
.sorting-selection  a:active {
  color: #000000;
}

.emerge {
  background-color: #eeeeee;
}

.emerge h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.emerge p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.button-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
}












