
body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: none;
    
  background-color: #ffffff;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin: 50px 177px 0 0;
}

.main-header-logo[href]:hover {
  opacity: 0.8; 
}

.main-header-logo[href]:focus {
  opacity: 0.3;  
}

a {
  text-decoration: none;
}

.main-header {
  background-color: #eeeeee;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  margin: 75px 23px 0;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.navigation-basket a {
  margin: 75px 0 0 217px;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

.site-navigation a[href]:hover {
  color: #fb565a;
}

.site-navigation a[href]:focus {
  color: rgba(0, 0, 0, 0.3);
  
}

.site-navigation a[href]:active {
  text-decoration-color: #fb565a;
}

.basket-link {
  position: relative;
  padding-left: 45px;
}

.basket-link::before {
  content: "";
  
  position: absolute;
  top: 7px;
  left: 5px;
  
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 15px;
  height: 15px;
}

.navigation-basket {
  list-style: none;
  max-width: 115px;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.navigation-basket a[href]:hover {
  color: #fb565a;
}

.navigation-basket a[href]:focus {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-basket a[href]:active {
  text-decoration-color: #fb565a;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation .container { 
  display: flex;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.slider {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  margin-bottom: 80px;
  position: relative;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.slider-item .slider-3 {
  padding-top: 18px;
}

.slider-item .slider-1 {
  padding-top: 14px;
  padding-right: 31px;
}

.slider-controls i {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  
}

.slider-controls i::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls .active::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  z-index: 1;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-info .page-title {
  width: 360px;
}

.slider-info p {
  width: 410px;
  padding-top: 10px;
  padding-bottom: 25px;
}

.slider p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.advantages {
  margin-bottom: 40px;
  padding: 0;
  padding-bottom: 65px;
  border-bottom: 2px solid #eeeeee;
}

.advantages-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
  padding: 0;
}

.advantages-item {
  width: 300px;
  position: relative;
}


.advantages-item h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 173px;
  margin-bottom: 15px;
}

.advantages-item p {
  width: 260px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0;
  margin-bottom: 35px;
}

.button {
  font: inherit;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding: 15px 0;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  
}

.slider-info .button{
  width: 240px;
} 

.advantages-item .button {
  width: 160px;
}

.footer-contacts .button {
  width: 220px;
  margin-top: 36px;
}

.feedback-form .button {
  width: 260px;
}



.emerge .button {
  width: 200px;
  margin-left: 0 20px;
}

.button:hover {
  background-color : #e74246;
}

.button:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 30px 0 -27px #c13135;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 30px 0 -27px #c13135;
}

.color-green {
  background-color: #00ca74;
}

.color-green:hover {
  background-color : #00bc6c;
}

.color-green:focus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 30px 0 -27px #009958;
}

.color-green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 30px 0 -27px #009958;
}

.color-yellow {
  background-color: #efc84a;
}

.color-yellow:hover {
  background-color : #eab534;
}

.color-yellow:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 30px 0 -27px #ce961f;
}

.color-yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 30px 0 -27px #ce961f;
}

.studio-info b {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}  

.studio {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.studio-info {
  width: 1160px;
  margin-bottom: 47px;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 49px;
  border-bottom: 2px solid #eeeeee;
}

.studio-info-text {
  margin-top: 35px;
  width: 660px;
}

.studio-info-table {
  width: 360px;
  margin-top: 205px;
}

.studio-info-table .info-work {
  margin-left: 15px;
  margin-bottom: 24px;
}

.studio-info-table::before {
  content: "";
  
  position: absolute;
  top: 0;
  background-image: url(../img/studio-nerds.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 360px;
  height: 208px;
}


.info-tagline{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-top: 33px;
}

.info-work {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
  margin-top: 40px;
}

.work-choice {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
}

.work-choice li {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136; 
  margin: 15px 0 23px 35px;
  position: relative;
}

.work-choice .underlining::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  border-bottom: 2px solid #fb565a;
  width: 25px;
}

.studio-table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}


.studio-table sup {
  font-size: 28px;
}

.studio-table td {
  font-weight: 700;
  font-size: 45px;
  line-height: 10px;
  padding: 34px 20px 38px 0;
}

.studio-table th {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136; 
  text-align: left;
  margin: 0;
  padding: 0;
}

.partners-list {
  list-style: none; 
  margin: 0;
  padding: 0;
  width: 1160px;
  display: flex;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 37px;
}

.partners-item:nth-child(1) {
  margin-top: 15px;
}

.partners-item:nth-child(3) {
  margin-top: 20px;
}

.partners-item:nth-child(4) {
  margin-right: 0;
  margin-top: 5px;
}

.partners-item-1::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 277px;
  border-right: 2px solid #eeeeee;
  height: 52px;
  
}

.partners-item-2::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 277px;
  border-right: 2px solid #eeeeee;
  height: 52px;
  
}

.partners-item-3::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 277px;
  border-right: 2px solid #eeeeee;
  height: 52px;
  
}


.partners-list img{
  opacity: 0.2;
}

.partners-list img:hover {
  opacity: 1.0;
}

.partners-list img:focus,
.partners-list img:active {
  opacity: 0.1;
}

.main-footer {
  margin-top: 60px;
  margin-bottom: 75px;
}

.footer-map-contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
  position: relative;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.footer-social {
  margin: 0;
  padding: 0;
  width: 260px;
}

.footer-sale {
  width: 562px;
  padding: 0;
  margin: 0;
  margin-top: 6px;
}

.footer-contacts h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.footer-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 15px;
}

.phone {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.feedback-item input {
  border-color: #d7dcde;
}

.feedback-item input:hover {
  border-color: #b4b9bb;
}

.feedback-item input:focus{
  border-color: #000000;
  outline: inherit;
}

.feedback-item input:invalid {
  border-color: #e74246;
}



.footer-sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal-feedback h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}



.feedback-item label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.main-header h1 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.sidebar legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  text-transform: uppercase;
  color: #000000;
}

.sidebar fieldset {
  border: none;
}

.sidebar ul {
  list-style: none;
}

.filter-option label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 37px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 27px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 27px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 27px;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -37px;
  top: 0;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 27px;
}


.filter-input + label {
  color: #283136;
}

.filter-input:hover + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
}

.filter-input + label::after {
  opacity: 0.4;
}

.filter-input:hover + label::after {
  opacity: 1;
}

.filter-input:disabled + label::after {
  opacity: 0.3;
}

.filter-input + label::before {
  opacity: 0.4;
}

.filter-input:hover + label::before {
  opacity: 1;
}

.filter-input:disabled + label::before {
  opacity: 0.3;
}

.sidebar-button {
  width: 260px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding: 14px 0;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
}

.sidebar-button:hover {
  background-color : #dfdfdf;
}

.sidebar-button:focus,
.sidebar-button:active {
  background-color: #d5d5d5;
  outline: inherit;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 30px 0 -27px #bfbfbf;

}

.sorting h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-right: 264px;
}

.sorting-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-right: 26px;
}

.sorting-selection {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1px;
  margin-left: 1px;
  display: flex;
  text-transform: uppercase;
  color: #bcbcbc;
  
}

.sorting-selection  a:hover {
  color: #666666;
}

.sorting-selection  a:focus
.sorting-selection  a:active {
  color: #000000;
}

.sorting-active {
  color: #000000;
  opacity: 1.0;
}


.icon-up {
  background-image: url(../img/icon-up-dir.svg);
  width: 11px;
  height: 10px;
  margin-top: 8px;
  margin-left: 18px;
  opacity: 0.2;
}

.icon-down {
  background-image: url(../img/icon-down-dir.svg);
  width: 11px;
  height: 10px;
  margin-top: 8px;
  margin-left: 21px;
}

.icon-up:hover {
  opacity: 0.4;
}

.icon-up:focus
.icon-up:active {
  opacity: 1;
}

.icon-down:hover {
  opacity: 0.4;
}

.icon-down:focus
.icon-down:active {
  opacity: 1;
}

.emerge a {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.emerge p {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;
}

.emerge h3 {
  margin: 0;
  margin-bottom: 15px;
}

.button-page {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: #eeeeee;
  text-align: center;
  color: #000000;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding: 13px 0;
  text-decoration: none;
  border-radius: 3px;
  border: none;

}

.button-page[href]:hover {
  background-color: #dfdfdf;
}


.button-page[href]:focus {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 30px 0 -27px #bfbfbf;
}

.button-page[href]:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 30px 0 -27px #bfbfbf;
}

.button-page-active {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  display: block;
  padding: 9px 0;
  text-decoration: none;
  border-radius: 3px;
  background-color: #ffffff;
  border: 4px solid #dbdbdb;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"],
input[type="radio"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.link-active {
  padding-bottom: 4px;
  border-bottom: 2px solid #fb565a;
}

.emerge .button:focus {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 30px 0 -27px #c13135;
}

.emerge .button:active {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 30px 0 -27px #c13135;
}

.templates ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.page ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 50px;
}

.feedback-item input::placeholder {
  color: rgba(68, 68, 68, 0.5);
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

.feedback-item input:-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

.feedback-item input::-ms-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

.feedback-item input:focus::placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:focus:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:focus::-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:active::placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:active:-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:active::-ms-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:invalid::placeholder {
  color: #e74246;
}

.feedback-item input:invalid:-ms-input-placeholder {
  color: #e74246;
}

.feedback-item input:invalid::-ms-input-placeholder {
  color: #e74246;
}

.feedback-item input {
  color: rgba(68, 68, 68, 0.5);
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
}

.feedback-item input:focus {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:active {
  color: rgba(68, 68, 68, 1);
}

.feedback-item input:invalid {
  color: #e74246;
}

.main-navigation h1 {
  margin: 0;
  padding: 0;
  margin-top: 78px;
  margin-bottom: 95px; 
}

.sidebar {
  width: 260px;
  margin: 0;
}

.sorting {
  width: 760px;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
}

.templates {
  width: 760px;
  margin: 0;
  margin-bottom: 29px;
  margin-top: 5px;
}

.page {
  width: 460px;
  margin: 0;
  padding: 0;
}


.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}

.main-part {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-cost {
  width: 260px;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 57px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-mesh {
  width: 260px;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
}

.filter-mesh ul {
  margin: 0;
  padding: 0;
}

.filter-features {
  width: 260px;
  margin: 0;
  padding: 0;
}

.filter-features ul {
  margin: 0;
  padding: 0;
}

.templates-examples {
  width: 360px;
  margin-bottom: 25px;
  position: relative;
  padding-top: 40px;
}

.templates-examples:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.page-number {
  width: 50px;
  margin-right: 11px;
}

.page-next {
  width: 260px;
}

.modal {
  display: none;
}

.modal {
  background-color: #ffffff;
  padding: 70px 90px 84px 100px;
  width: 770px;
  position: relative;
  box-shadow: 0 30px 65px rgba(0,0,0,0.5);
}

.feedback-data {
  display: flex;
  margin-bottom: 34px;
}

.partners-item {
  text-align: center;
  width: 260px;
  margin-right: 40px;
  position: relative;
}

.footer-contacts {
  position: absolute;
  top: -370px;
  left: 20px;
  width: 220px;
  background-color: #ffffff;
  padding: 50px;
  text-align: left;
}

.footer-map-contacts img {
  position: relative;
}

.emerge {
  position: absolute;
  bottom: 9px;
  left: 0;
  display: none;
  background-color: #eeeeee;
  text-align: center;
}

.emerge-width-1 {
  width: 200px;
  padding: 30px 80px 43px;
}

.emerge-width-2 {
  width: 240px;
  padding: 30px 60px 43px;
}

.emerge-width-2 .button{
  margin-left: 20px;
}

.templates-examples:hover .emerge{
  display: block;
}

.templates-examples:hover  .browser::before{
  opacity: 1;
}

.footer-map-contacts {
  text-align: center;
}

.footer-map-contacts img{
  max-width: 100%;
  height: auto;
}

.footer-contacts-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  
}

.slider-info {
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 76px;
  width: 520px;
}

.slider-item img {
  
}

.advantages-item-1::before {
  content: "";
  
  position: absolute;
  top: 0;
  
  background-image: url(../img/illustration-1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 300px;
  height: 146px;
}

.advantages-item-2::before {
  content: "";
  
  position: absolute;
  top: 0;
  
  background-image: url(../img/illustration-2.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 300px;
  height: 146px;
}

.advantages-item-3::before {
  content: "";
  
  position: absolute;
  top: 0;
  background-image: url(../img/illustration-3.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 300px;
  height: 146px;
}

.social-button a{
  position: relative;
}

.social-button-vk {
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.social-button-fb {
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.social-button-insta {
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.social-button-vk::before {
  content: "";
  
  position: absolute;
  top: 33px;
  left: 27px;
  
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 26px;
  height: 15px;
}

.social-button-fb::before {
  content: "";
  
  position: absolute;
  top: 29px;
  left: 34px;
  
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 12px;
  height: 22px;
}

.social-button-insta::before {
  content: "";
  
  position: absolute;
  top: 30px;
  left: 30px;
  
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 21px;
  height: 21px;
}

.filter-mesh legend {
  margin-bottom: 13px;
}

.filter-mesh .filter-option {
  margin-bottom: 20px;
}

.filter-features legend {
  margin-bottom: 13px;
}

.filter-features .filter-option {
  margin-bottom: 20px;
}


.browser::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
  width: 360px;
  height: 40px;
}

.footer-sale-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-sale p{
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.feedback-item input {
  padding: 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  width: 328px;
}

.feedback-item label {
  margin-bottom: 10px;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.feedback-data .feedback-item:nth-child(1) {
  margin-right: 40px;
}

.feedback-item-text input{
  width: 728px;
  min-height: 86px;
}

.feedback-item-text {
  margin-bottom: 47px;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 21px;
  border: none;
  background-color: #ffffff;
  opacity: 0.3;
}

.modal-close:hover {
  opacity: 1.0;
}

.modal-close:focus,
.modal-close:active {
  opacity: 0.1;
  outline: none;
}

.modal button {
  outline: none;
}

.sorting-selection li {
  cursor: pointer;
}

.footer-social div:hover {
  background-color: #e74246;
}

.footer-social div:focus,
.footer-social div:active {
  background-color: #d7373b;
  box-shadow: inset 0 30px 0 -28px #c13135;
}


.footer-social div:focus::before,
.footer-social div:active::before {
  opacity: 0.3;
}


  